<a href="/create">Create</a>
<div>
    <table>
        <thead>
            <th>Person Name</th>
            <th>Age</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {{#each person }}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <th><a href="/edit/{{this._id}}">Edit</th>
                <th><a href="/delete/{{this._id}}">Delete</th>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>