<a href="/show" >Back</a>
<form action="/update" method="POST">

    <table>
        <tr>
            <input type="hidden" id="_id" name="_id" value="{{person._id}}"/>
            <td>Name</td>
            <td><input type="text" id="name" name="name" value="{{person.name}}" /></td>
        </tr>
<tr>
            <td>Age</td>
            <td><input type="text" id="age" name="age" value="{{person.age}}" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right"><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>